@import './../../fonts/style.css';

.DisplayImg{
    background: rgba(46, 43, 103, 0.3);
    border-radius: 0 35px 35px 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: 'Gordita Thin';
    color: rgba(46, 43, 103, 1); 
}

.DisplayImg__section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.DisplayImg h1{
    padding: 0 25%;
}

.DisplayImg section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.DisplayImg section img{
    width: 15%;
}

