.SelectionElements{
    background-color:inherit;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

.SelectionElements__display{
    border-bottom: 1px white solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SelectionElements__display--btn{
    transition: transform 0.5s;
    transform: scale(-1, -1);
}

.SelectionElements__display--btnNo{
    transition: transform 0.5s;
}

.SelectionElements__display button{
    width: 50px;
    height: 20px;
    background-color: transparent;
    border: none;
}
.SelectionElements__display button img{
    width: 100%;
    height: 100%;
}
.SelectionElements__options{
    transition: transform 0.5s;
    transform-style: preserve-3d;
    height: 100px;
    background-color: rgba(172, 222, 249, 1);
    display: flex;
    align-items: center;
}