.SelectionElements{
    background-color:inherit;
    padding: 10px;
    color: white;
    margin-bottom: 20px;
}

.SelectionElements__display{
    border-bottom: 1px white solid;
    display: flex;
    justify-content: space-between;
}

.SelectionElements__options{
    height: 100px;
    background-color: rgba(172, 222, 249, 1);
}