@import './../../fonts/style.css';

.App{
    width: 100%;
    display: flex;
    font-family: 'Gordita Regular';    
}

.App__commands{
    width: 30%;
    background-color: rgba(46, 43, 103, 1);
    border-radius: 35px 0 0 35px ;

}

.App__display{
    width: 70%;
    height: auto;
}